/* https://coolors.co/palettes/trending */

body {
    background-color: #1D3557;
    margin: 3em;
    font-size: 2em;
    color: #F1FAEE;
    position: relative;
}

a {
    text-decoration: none;
    color: #F1FAEE;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 128px;
    height: 128px;
    color: #F1FAEE;
    padding: .3em;
    border-radius: 15%;
    transition: 0.4s background-color;
    margin: 0 .5em;
}

.nav-active {
    background-color: #385986;
    transition: 0.4s background-color;
}

.content {
    position: relative;
}

.button-container {
    text-align: center;
}

.button {
    font-size: 1.5em;
    border-radius: 5px;
    padding: .3em .6em;
    background-color: #A8DADC;
    border: none;
    color: #F1FAEE;
    transition: 0.3s ease-in-out color, background-color;
}

.button:hover {
    background-color: #c1d9da;
    color: rgb(29, 29, 29);
}


/* Settings */
.network-container {
    text-align: center;
    width: 70%;
    display: block;
    margin: auto;
    list-style: none;
}

.network {
    text-align: left;
    font-size: 1.5em;
    display: flex;
}

.network a {
    margin-left: 1em;
}


.wifi-logo {
    width: 64px;
    height: 64px;
}

#wifi-form {
    margin-top: 3em;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: #2a466e;
}

#wifi-form {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}


#wifi-form .form-item {
    display: flex;
    margin: 1em;
}

#wifi-form .form-logo {
    width: 64px;
    height: 64px;
}

#wifi-form .form-item input {
    font-size: 1.5em;
    margin: 0 .4em;
}

#wifi-form .button-container {
    margin-top: 2em;
}

#wifi-form .eye {
    width: 32px;
    height: 32px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

#wifi-form #eye-container {
    display: grid;
    position: relative;
    cursor: pointer;
}

#wifi-form #wifi-close {
    position: absolute;
    top: 1em;
    right: 1em;

}

#wifi-form svg {
    width: 32px;
    height: 32px;
}


/* Home */
#home-content {
    text-align: center;
    width: 60%;
    margin: auto;
}

.home-item {
    text-align: left;
    margin: 1em;
    font-size: 1.5em;
}

.home-item label {
    margin: .8em;
}

#bulb-container {
    cursor: pointer;
    position: relative;
}

.bulb {
    position: absolute;
    width: 64px;
    height: 64px;
}

#colorpicker {
    width: 300px;
    height: 50px;
}