<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jossans Tvbänk</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    {% block css %}
    {% endblock %}
</head>
<body>

    <script>
        function show(obj) {
            obj.classList.remove('hidden');
            obj.classList.add('visible');
        }

        function hide(obj) {
            obj.classList.remove('visible');
            obj.classList.add('hidden');
        }
    </script>

    <nav class="navbar">
        <h1>Jossans TV-bänk</h1>

        <div>
            <a href="#">
                <svg class="nav-logo" id="home" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
            </a>
            <a href="#">
                <svg class="nav-logo" id="settings" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </a>
            <a href="#" id="reboot">
                <svg class="nav-logo" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                </svg>
            </a>
        </div>
    </nav>

    <div id="loading" class="popup hidden">
        <p>Laddar...</p>
        <div class="loader">
        </div>
    </div>

    <form id="reboot-form" class="popup hidden">
        <a id="reboot-close" href="#" class="popup-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg>
        </a>
        <h4>Vill du starta om kalaset?</h4>
        <div class="button-container">
            <form>
                <input type="submit" value="Ja" class="button">
            </form>
            <button  id="no-reboot" class="button button-secondary">Nej</button>
        </div>
    </form>

    <div class="content">

        <div id="home-content">
            {% include 'home.html' %}
        </div>

        <div id="settings-content">
            {% include 'settings.html' %}
        </div>

    </div>


    <script>
        const navs = document.getElementsByClassName('nav-logo');
        const settings = document.getElementById('settings-content');
        const home = document.getElementById('home-content');
        const rebootForm = document.getElementById('reboot-form');

        document.getElementById('reboot').addEventListener('click', () => show(rebootForm));
        document.getElementById('no-reboot').addEventListener('click', () => hide(rebootForm));
        document.getElementById('reboot-close').addEventListener('click', () => hide(rebootForm));

        updateActive(navs[0]);

        for (let nav of navs) {
            nav.addEventListener('click', () => {
                updateActive(nav);
            })
        }

        function updateActive(nav) {
            for (let nav of navs)
                nav.classList.remove('nav-active');

            nav.classList.add('nav-active');
            if (nav.id == 'home') {
                show(home);
                hide(settings);
            } else if (nav.id == 'settings') {
                show(settings);
                hide(home);
            }
        }
    </script>

    {% block js %}
    {% endblock %}

</body>
</html>